node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/screenshots/
/logs/
.env
package-lock.json
allure-report/
allure-results/
latest-fail.png
screenshot-debug.png
temp_passed_test.json
test-results.json/

# Temp/debug files
*.bak
exp*_*.txt